* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}



.content {
    padding: 60px 20px;
    text-align: center;
}


.price h2, .contact p {
    max-width: 800px;
    margin: 0 auto;
    color: #171717;
    text-align: center;
    font-size: 30px;
}

form input, form textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}




.head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #cacfd2;
    padding: 10px 20px;
    position: fixed;
    width: 100%;
    z-index: 100;
    height: 70px;
}

.navbar a {
    margin: 0 15px;
    color: #171717;
    text-decoration: none;
    font-size: 14px;
}

.navbar a:hover {
    background: #003082;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
}



@media (max-width: 768px) {
    .head {
        min-height: 70px;
    }
    .navbar {
        display: flex;
        flex-direction: row;
    }
    .box-container, .TituloServ, .form-content {
        padding: 15px;
    }
}



.Inicio2{
    background: url(img/imagen10.jpg) no-repeat center;
    background-size: cover;
    height: 100vh;
    max-width: 100%;
}


.logoSF img {
    margin-left: 55%;
}
.Inicio2::before{
    content: "";
    width: 100%;
    min-height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    
    background-color: #171717;
    opacity: 0.6;
    }






.Etico{
    background: url(img/fondo_chido.jpeg) no-repeat center;
    background-size: cover;
    color: #171717;
    max-width: 100%;
}


.titulo {
    margin: 10px auto;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    max-width: 90%;
}

.titulo h6,.box-container h5, .box-container11 h5, .box-container22 h5{
color: #003082;
font-size: 30px;
}

.box-container{
    margin: 10px auto;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    max-width: 90%;
    width: 60%;
    margin-right: 35%;
}

.box-container11{
    margin: 10px auto;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    max-width: 90%;
    width: 60%;
    margin-left: 35%;
}

.box-container22{
    margin: 10px auto;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    max-width: 90%;
    width: 60%;
    margin-right: 35%; 
}





.Servicio{
    background: #d0d3d4;
    background-size: cover;
}

.Slider-text .btn {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background: #003082;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-size: 18px;
}

.Slider-text .btn:hover {
    background: #1b4f72;
}

.TituloServ{
    max-width: 1300px;
    margin: 0 auto;
    color: #171717;
}

.TituloServ h2{
    text-align: center;
    font-size: 40px;
    color: #003082;
}

.TituloServ p{
font-size: 20px;
text-align: center;
}







.price{
    background: url(img/fondo_2.jpg) no-repeat center;
    background-size: cover;
}

.price h2{
    position: relative;
    font-size: 40px;
    color: #fff;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.price h2::after, h2::before{
    content: '';
    position: absolute;
    width: 120px;
    height: 3px;
    background-color: #003082;
    top: 0.6em;
    }

    .price h2::before{
        left: 180px;
        background-color: #003082;
    }
    
    .price h2::after{
        right: 180px;
    }

.form-content .btn{
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background: #003082;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-size: 18px;
}

.form-content .btn:hover {
    background: #1b4f72;
}

.form-content label{
    color: #ffffff;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.form-content input{
    font-family: 'Times New Roman', Times, serif;
}






.contact{
    background: #d0d3d4;
    background-size: cover;
}

.container-boton{
    border-bottom: -20px solid #fff;
    position: fixed;
    z-index: 999;
    border-radius: 60%;
    bottom: 20px;
    right: 30px;
    padding: 10px;
    transition: ease 0.3s;
    animation: efecto 1.2s infinite;
}

.container-boton:hover{
    transform: scale(1,1);
    transition: 0.3s;
}

.whats{
    width: 80px;
    transition: ease 1s;
}

.contact .logoContac p{
font-size: 5px;
}


    






.Estructura{
    height: 110vh;
        background: url(img/Silo_/Bascula1.jpeg) no-repeat center;
        background-size: cover;
        background-attachment: fixed;
        block-size: cover;
        text-align: center;
    }

.Estructura h2{
    color: #171717;
    margin-top: 70px;
    margin-left: 10px;
    font-size: 40px;
    display: inline-block;
    position: relative;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-shadow: 4px 0 0 #d0d3d4;
}

.Estructura h2::after,h2::before{
    content: '';
    position: absolute;
    width: 120px;
    height: 3px;
    background-color: #171717;
    top: 0.6em;
    }

    .Estructura h2::before{
        left: -140px;
    }
    
    .Estructura h2::after{
        right: -140px;
    }


.EstructuraDis{
        height: 140vh;
            background: url(img/Estructura_1.jpeg) no-repeat center;
            background-size: cover;
            background-attachment: fixed;
            block-size: cover;
            text-align: center;
}

.EstructuraDis h2{
    color: #171717;
    margin-top: 70px;
    margin-left: 10px;
    font-size: 40px;
    display: inline-block;
    position: relative;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-shadow: 4px 0 0 #d0d3d4;
}

.EstructuraDis h2::after,h2::before{
    content: '';
    position: absolute;
    width: 120px;
    height: 3px;
    background-color: #171717;
    top: 0.6em;
    }

    .EstructuraDis h2::before{
        left: -140px;
    }
    
    .EstructuraDis h2::after{
        right: -140px;
    }

.E_Cuerpo{
    height: 220px;
    width: 700px;
    border-radius: 10px;
    margin-left: 40px;
    background-color: #ffffff;
}


.E_Cuerpo p{
    margin-top: 20px;
    text-align: justify;
    font-size: 20px;
    color: #171717;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.img_1{
    height: 480px;
    width: 500px;
    background-color:#ffffff;
    border-radius: 10px;
    margin-left: 900px;
    margin-top: -180px;
}

.img_2{
    height: 480px;
    width: 750px;
    background-color: #ffffff;
    border-radius: 10px;
    margin-left: 120px;
    margin-top: -270px;
}





.EstructuraEntr{
    height: 150vh;
        background: url(img/Entrepisos_Cubiertas/Cubierta1.jpg) no-repeat center;
        background-size: cover;
        background-attachment: fixed;
        block-size: cover;
        text-align: center;
}

.EstructuraEntr h2{
    color: #171717;
    margin-top: 70px;
    margin-left: 10px;
    font-size: 40px;
    display: inline-block;
    position: relative;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-shadow: 4px 0 0 #d0d3d4;
}

.EstructuraEntr h2::after,h2::before{
    content: '';
    position: absolute;
    width: 120px;
    height: 3px;
    background-color: #171717;
    top: 0.6em;
    }

    .EstructuraEntr h2::before{
        left: -140px;
    }
    
    .EstructuraEntr h2::after{
        right: -140px;
    }

.C_Cuerpo{
    height: 200px;
    width: 700px;
    border-radius: 10px;
    margin-left: 800px;
    margin-top: 15px;
    background-color: #ffffff;
}

.C_Cuerpo p{
    margin-top: 10px;
    text-align: justify;
    font-size: 20px;
    color: #171717;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.img_11{
    height: 500px;
    width: 500px;
    background-color:#ffffff;
    border-radius: 10px;
    margin-left: 100px;
    margin-top: -200px;
}

.img_11 img{
    margin-top: 10px;
}

.img_12{
    height: 580px;
    width: 600px;
    background-color: #ffffff;
    border-radius: 10px;
    margin-left: 700px;
    margin-top: -270px;
}

.img_12 img{
    margin-top: 10px;
    height: 480px;
    width: 500px;
}









.EstructuraMon{
    height: 134vh;
        background: url(img/Montaje_Estructuras_Metalicas/Estrucuta1.jpg) no-repeat center;
        background-size: cover;
        background-attachment: fixed;
        block-size: cover;
        text-align: center;
}

.EstructuraMon h2{
    color: #171717;
    margin-top: 70px;
    margin-left: 10px;
    font-size: 40px;
    display: inline-block;
    position: relative;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-shadow: 4px 0 0 #d0d3d4;
}

.EstructuraMon h2::after,h2::before{
    content: '';
    position: absolute;
    width: 120px;
    height: 3px;
    background-color: #171717;
    top: 0.6em;
    }

    .EstructuraMon h2::before{
        left: -140px;
    }
    
    .EstructuraMon h2::after{
        right: -140px;
    }

.EM_Cuerpo{
        height: 170px;
        width: 600px;
        border-radius: 10px;
        margin-left: 50px;
        margin-top: 40px;
        background-color: #ffffff;
}

.EM_Cuerpo p{
    margin-top: 10px;
    text-align: justify;
    font-size: 18px;
    color: #171717;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.img_EM{
    height: 450px;
    width: 450px;
    background-color:#ffffff;
    border-radius: 10px;
    margin-left: 500px;
    margin-top: 90px;
}

.img_EM img{
    height: 400px;
    width: 400px;
    margin-top: -10px;
}

.img_EM1{
    height: 450px;
    width: 450px;
    background-color:#ffffff;
    border-radius: 10px;
    margin-left: 1030px;
    margin-top: -700px;
}

.img_EM1 img{
    height: 400px;
    width: 400px;
    margin-top: -10px;
}




.Estructura_Sil{
    height: 140vh;
        background: url(img/Silos_Tolvas/Silo1.jpeg) no-repeat center;
        background-size: cover;
        background-attachment: fixed;
        block-size: cover;
        text-align: center;
}

.Estructura_Sil h2{
    color: #171717;
    margin-top: 70px;
    margin-left: 10px;
    font-size: 40px;
    display: inline-block;
    position: relative;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-shadow: 4px 0 0 #d0d3d4;
}

.Estructura_Sil h2::after,h2::before{
    content: '';
    position: absolute;
    width: 120px;
    height: 3px;
    background-color: #171717;
    top: 0.6em;
    }

    .Estructura_Sil h2::before{
        left: -140px;
    }
    
    .Estructura_Sil h2::after{
        right: -140px;
    }








.EstructuraFabrMe{   
        height: 120vh;
            background: url(img/Puentes_Peatonales/Puente1.jpeg) no-repeat center;
            background-size: cover;
            background-attachment: fixed;
            block-size: cover;
            text-align: center;
}

.EstructuraFabrMe h2{
    color: #171717;
    margin-top: 70px;
    margin-left: 10px;
    font-size: 40px;
    display: inline-block;
    position: relative;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-shadow: 4px 0 0 #d0d3d4;
}

.EstructuraFabrMe h2::after,h2::before{
    content: '';
    position: absolute;
    width: 120px;
    height: 3px;
    background-color: #171717;
    top: 0.6em;
    }

    .EstructuraFabrMe h2::before{
        left: -140px;
    }
    
    .EstructuraFabrMe h2::after{
        right: -140px;
    }

    .PP_Cuerpo{
        height: 450px;
        width: 350px;
        border-radius: 10px;
        margin-left: 50px;
        margin-top: 120px;
        background-color: #ffffff;
    }
    
    .PP_Cuerpo p{
        margin-top: 10px;
        margin-left: -5%;
        text-align: center;
        font-size: 18px;
        color: #171717;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    
    .img_PP{
        height: 450px;
        width: 400px;
        background-color:#ffffff;
        border-radius: 10px;
        margin-left: 550px;
        margin-top: -450px;
    }
    
    .img_PP img{
        height: 400px;
        width: 350px;
        margin-top: -10px;
    }
    
    .img_PP1{
        height: 450px;
        width: 400px;
        background-color:#ffffff;
        border-radius: 10px;
        margin-left: 1050px;
        margin-top: -450px;
    }
    
    .img_PP1 img{
        height: 400px;
        width: 350px;
        margin-top: -10px;
    }








.SB_Cuerpo{
    height: 450px;
    width: 350px;
    border-radius: 10px;
    margin-left: 50px;
    margin-top: 120px;
    background-color: #ffffff;
}

.SB_Cuerpo p{
    margin-top: 10px;
    text-align: center;
    font-size: 18px;
    color: #171717;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.img_SB{
    height: 450px;
    width: 400px;
    background-color:#ffffff;
    border-radius: 10px;
    margin-left: 550px;
    margin-top: -450px;
}

.img_SB img{
    height: 400px;
    width: 350px;
    margin-top: -10px;
}

.img_SB1{
    height: 450px;
    width: 400px;
    background-color:#ffffff;
    border-radius: 10px;
    margin-left: 1050px;
    margin-top: -450px;
}

.img_SB1 img{
    height: 400px;
    width: 350px;
    margin-top: -10px;
}

@media (max-width: 768px){
    .title{
       margin-bottom: 0;
       font-size: 40px;
    }

    .sau{
        height: 200vh;
    }

    .navbar{
        width: none;
    }

} 



@keyframes slide{
    0% { margin-left: 0;}
    20% { margin-left: 0;}

    25% { margin-left: -100%;}
    45% { margin-left: -100%;}

    50% { margin-left: -200%;}
    70% { margin-left: -200%;}

    75% { margin-left: -300%;}
    100% { margin-left: -300%;}
}